:root{
  --shadow: 0.4rem 0.8rem 1rem #16131388;
  --shadowinset: inset 1px 1px 2px #443b3b33;
  --shadowbold: 0.2rem 0.2rem 0.6rem #161313;
  --shadowlight: 0 3px 8px #16131377;
  --shadowhighlight: 1px 1px 1px 0px #FEF9D733;
  /* --primary: #888;
  --secondary: #996; */
  --light: #FEF9D7;
  --dark: #504746;
  --dark2: #5f5453;
  --dark3: #887877;
  --highlightm1: #636369;
  --background: #33333a;
  --highlight: #505055;
  --highlight1p5: #535359;
  --highlight2: #a09492;
  --highlight3: #c4bcbb;
  --glowbg: #ee9933;
  --glowbg2: #f2ad5a;
  --glowfg: #ffa;
  --glowshadow: 0rem 0rem 1rem #e93;
  --blue: #a9d6e1;
  --blueshadow: 1px 1px 0 #53879f;
  --yellow: #ffdc7d;
  --yellowshadow: 2px 2px 2px #efb06f;
  --red: #fa6b87;
  --redshadow: 2px 2px 2px #771d4d;
  --green: #00cc66;
  --greenshadow: 2px 2px 2px #008080;

}

@font-face {
  font-family: 'ShareTechMono';
  src: url('../fonts/ShareTechMono-Regular.ttf') format('truetype');
}

.blue {
  color: var(--blue);
}
.red {
  color: var(--red);
}
.yellow {
  color: var(--yellow);
}
.b {
  font-weight: bolder;
}


/* attributes */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.nolink a{
  text-decoration: none;
  color: var(--light);
}
.nolink {
  text-decoration: none;
  color: var(--light);
}
a {
  text-decoration: none;
}
.textshade{
  text-shadow: var(--shadow);
}
.boxshade{
  box-shadow: var(--shadow);
}

html{
  font-family: arial, monospace;
  /* box-sizing: border-box; */
  background: var(--background);
  color: var(--light);
}
img{
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  /* box-shadow: var(--shadow); */
  /* image-rendering: pixelated; */
  /* image-rendering: -moz-crisp-edges; */
  /* image-rendering: crisp-edges; */
  /* border: 3px solid var(--light); */
  /* height: 100%; */

}


body {
  /* background-color: var(--dark); */
  color: var(--light);
}

section div{
  margin-left: 0px;
  padding: 10px;
}
img {
  padding: 0;
  width: 100%;
  display: block;
}

/*
h1, h2, h3, h4, h5, h6 {
  color: var(--yellow);
  font-weight: 900;
}
*/

h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.3rem;}
h5 {font-size: 1.2rem;}
h6 {font-size: 1.1rem;}

/* b{
  color: var(--blue);
  font-weight: normal;
}

i {
  color: var(--red);
}

p {
  padding: 5px;
} */

.nav-wrapper {
  height: 60px;
  position: static;
}
.nav-main {
  position: fixed !important;
  /* VISIBLE */
  /* visibility: hidden; */
  top: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 1006;
  width: 100%;
  height: 60px;
  transition: all 0.2s ease-in-out;
  background: var(--highlight);
  box-shadow: var(--shadow);
  overflow: visible;
}

.btn-toggle-nav {
  width: 60px;
  height: 100%;
  overflow: hidden;
  background: var(--glowbg);
  /* background-image: url("../img/mountains.jpg"); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}

.nav-main ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.nav-main ul li {
  list-style: none;
  line-height: 60px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s ease-in-out;
  background: transparent;
}
.nav-main ul li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: var(--light);
  font-size: 1.6rem;

}
.nav-main ul li:hover {
  background: var(--glowbg);
  transition: all 0.2s ease-in-out;
  height: 70px;
  z-index: 1000;
  box-shadow: var(--glowshadow);
  border-radius: 0 0 10% 10%;
}

.btn-toggle-nav:hover, .btn-toggle-nav:hover div {
  /* opacity: 0.9; */
}
.btn-toggle-nav, .btn-toggle-nav div  {
  /* opacity: 0.9; */
  transition: all 0.2s ease-in-out;
}
.btn-toggle-nav:hover{
  background: var(--glowbg2);
  box-shadow: var(--glowshadow);
  z-index: 1000;
}
.btn-toggle-nav:hover div div{
  background: var(--light);
  outline: 2px solid var(--glowbg2);
}



/* burger  and sidebar*/


.burger {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.burger div {
  display: block;
  float: none;
  margin: 3px 0px;
  width: 2rem;
  height: 0.5rem;
  background: var(--background);
  outline: 2px solid var(--glowbg);
  transition: all 0.2s ease-in-out;
}

.burger-active1 {
  transform: translateY(14px) rotate(-45deg);
  outline: 3px solid var(--light);
}
.burger-active2 {
  opacity: 0;
}
.burger-active3 {
  transform: translateY(-14px) rotate(45deg);
  outline: 3px solid var(--light);
}


.nav-sidebar {
  position: fixed;
  width: 0;
  left: -10px;
  top: 60px;
  height: calc(100vh - 60px);
  /* bottom: 0; */
  padding: 0;
  /* padding: 0 5px; */
  /* background: transparent; */
  background: var(--dark);
  border-right: 4px solid var(--highlight);
  z-index: 1009;
  transition: all 0.4s ease-in-out;
}

.nav-sidebar ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}
.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
  margin-top: 5px;
  /* transition: all 0.1s ease-in-out; */
}
.nav-sidebar ul li a, .nav-sidebar ul span {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light);
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.nav-sidebar ul span {
  text-align: center;
  font-size: 1.3rem;
  border-left: 8px solid var(--highlight2);
  background: var(--highlight);
}
.nav-sidebar ul li a:hover {
  background: var(--highlight);
}



/* classes */
.button{
  display: flex;
  font-size: 1.2rem;
  height: 2rem;
  padding: 0.2rem;
  background: var(--highlight);
  color: var(--light);
  /* box-shadow: var(--shadow); */
  align-items: center;
  justify-content: center;
}
.button:hover{
  background: var(--glowbg);
  color: var(--glowfg);
  box-shadow: var(--glowshadow);
  height: 3rem;
  align-items: flex-start;
  padding-top: 0.5rem;
}

#nav-spacer {
  display: block;
  /* padding: 10px; */
  /* margin-left: 60px; */
  margin: 0;
  margin-top: 60px;
  /* background: #000; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  text-shadow: var(--shadowbold);
  color: var(--light);
  width: 100%;
  height: 200px;
  min-height: 300px;
  word-wrap: normal;
  text-align: center;
  background-size: auto 300px;
  background-repeat: no-repeat;
  background-position: center 60px;
  font-weight: 700;
  background-attachment: fixed;
}

#header-spacer {
  height: 200px;
  background: none;
  background-color: transparent;
}

.centre {
  align-self: center;
  justify-content: center;
  text-align: center;
}
.header {
  background-color: var(--highlightm1);
  box-shadow: var(--shadowlight);
}
.body {
  background-color: var(--highlight);
  min-height: 400px;
}

.grid-wrap {
  display: grid;
  grid-template-columns: 4fr 5fr 4fr;

}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fit, 1fr); */
  list-style: none;
  grid-gap: 6px;
  /* padding-top: 6px; */
  padding: 6px;
  padding-bottom: 100%;
}
.image-grid li {
  width: 100%;
  /* height: 100px; */
  /* height: 100%; */
  /* padding: 2px; */
  /* height: 100px; */
}
.image-grid li div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-grid li img{
  box-shadow: var(--shadow);
  border-radius: 5%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.image-grid li:hover img{
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

@media (width < 780px) {
  .nav-main ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 60px;
    top: 0;
    z-index: 999;
    transition:  all 0.3s ease-in-out;
    background: var(--highlight);
    box-shadow: var(--shadow);
    width: calc(100% - 60px);
  }
  .nav-main ul li {
    line-height: 60px;
    height: 30px;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .nav-main ul li:hover {
    line-height: 60px;
    height: 40px;
    height: 100%;
  }
  .nav-main ul li a{
    font-size: 1.1rem;
  }
}
