/* body {
  background: #33333a;
}
* {
  font-family: arial;
  color: #aaa;
} */

.centre {
}
body {
  padding-bottom: 100px;
}
#header-wrap {
  margin-bottom: 20px;
  margin-top: 0;
  width: calc(580px);
  transform: translate(-40px);
  border-radius: 10px;
  /* background-color: #5af; */
  background-color: #667;
  color: #fff;
  background-image: url("../img/header.jpg");
  background-size: cover;
  overflow: visible;
  box-shadow: 5px 5px 10px #22222260;
  height: 130px;
  position: relative;
  z-index: 100;
}
h2 {
  color: #555;
}
a {
  /* color: #57f; */
  color: #f76;
  font-weight: bolder;
  transition: all 0.2s ease-in-out;
}
a > img{
  transition: all 0.1s ease-in-out;
}
a:hover {
  /* color: #f35; */
  color: #57f;
  /* border-radius: 4px; */
  /* background-color: #ffffff22; */
  /* box-shadow: 0px 0px 4px #22222260; */
  text-shadow: 0px 0px 20px #ffffff60;
  /* text-decoration: underline; */
}
a:hover > img {
  /* width: 90%; */
  /* opacity: 80%; */
  /* filter: brightness(100%); */
}

.body-section > div > a:hover > img {
  filter: contrast(70%) brightness(120%);
  outline: 2px solid #3f4;
}
.body-section > div > a {
  border-radius: 200px;
}
.body-section > div > a:hover {
  /* outline: 5px solid #444; */
  /* background: #ff0; */
}

img {
  box-shadow: 0px 5px 5px #22222260;
}
.header {
  background-color: transparent;
  text-align: center;
  /* background: #33333390; */
  border-radius: 10px;
  box-shadow: none;
  /* height: 100px; */
}
.header-wrap-inner {
  transform: translate(calc(90px), calc(45px));
  width: 400px;
  text-align: center;
  box-shadow: 10px 10px 20px #22222260, -10px -10px 20px #22222260;
  background: #22222260;
  border-radius: 10px;
  height: 50px;
  padding: 0 0 0 0;
  margin: 0;
  /* margin: 0px 40px 0px 20px; */
}
.header-wrap-inner > h1 {
  padding: 0;
  margin: 0;
  transform: translateY(-30px);
}
.grid-wrap {
  grid-template-columns: auto;
  align-content: center;
  justify-content: center;
}
.body {
  overflow: visible;
  background-color: transparent;
  color: #555;
  font-size: 1.2rem;
  min-height: calc(900px);
  width: 500px;
  padding: 0;
  padding-bottom: 30px;
  border-radius: 0 0 20px 20px;
  background: #aaa;
}
.body-section:not(#subtitle) {
  min-height: 80px;
  margin-top: 20px;
  border-radius: 20px;
}
.body-section {
  background-color: #ddd;
  color: #555;
  width: calc(500px - 40px + 20px);
  transform: translate(-10px);
  font-size: 1.2rem;
  padding: 10px 20px 10px 20px;
  border-radius: 0 0 20px 20px;
  box-shadow: 5px 5px 10px #22222260, inset 1px 1px 5px #ffffffff;
  transition: all 0.1s ease-in-out;
}
.body-section:hover:not(#subtitle) {
  /* background-color: #eeeeee; */
  /* width: calc(500px - 40px + 20px); */
  /* transform: translate(-30px); */
  /* padding: 10px 40px 10px 40px; */
}
#subtitle {
  text-align: center;
  margin-top: -20px;
  padding-top: 0px;
}

/* nav bar */
.nav-bar {
  width: 100%;
}
.nav-bar > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}
.nav-bar > ul > li {
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 3px #22222230;
  /* width: 50px; */
  margin: 0 4px 0 4px;
  padding: 6px;
  padding-top: 10px;
  height: 35px;
  grid-column-gap: 20px;
  list-style: none;
  transition: all 0.2s ease-in-out;
}
.nav-bar > ul > li:hover {
  background-color: #fff;
}
.nav-bar > ul > li > a {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nav-bar > ul > li > a p {
  padding: 5px;
  font-family: 'ShareTechMono', arial;
}
.nav-bar > ul > li > a img {
  max-height: 30px;
  width: auto;
  box-shadow: none;
}

.roundbox {
  background-color: #444;
  background-image: url("../img/sumibanner.png");
  background-size: contain;
  box-shadow: 6px 6px 5px #22223050, inset -6px -6px 5px #22223080, inset 2px 2px 10px #ffffff88;
  border-radius: 5px;
  padding: 4px;
  color: #fff;
  text-shadow: 2px 3px 3px #fa7;
  min-width: 110px;
  margin-left: 90px;
  width: 300px;
  margin-bottom: 10px;
}

#footer {
  margin-top: 10px;
  color: #777;
}



/*  */
